/* 검색 컨터이너 */
.search_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex: 0 1 var(--search-size);
}

/* 검색 박스 / 검색 입력영역  */

.search_box {
  width: 90%;
  height: 100%;
  position: relative;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: 1px solid var(--color-placeHorder);
  display: flex;
  align-items: center;
}
.search_box_focusOn {
  border: none;
}
.search_hidden {
  width: var(--logo-size-small);
  height: 0;
}
.search_hidden_focusOn {
  height: var(--logo-size-small);
}

.search_outline {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: none;
}
.search_outline_focusOn {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: 1px solid var(--color-focus-blue);
}

.search_input {
  position: absolute;
  width: 80%;
  height: 80%;
  line-height: 100%;
  outline: none;
  border: none;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--color-black);
  background-color: var(--color-x);
}
.search_input::placeholder {
  color: var(--color-placeHorder);
}

/* 검색 버튼 */
.search_btn {
  width: 64px;
  height: 80%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 1px solid var(--color-placeHorder);
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.search_btn_img {
  width: var(--logo-size-small);
  height: var(--logo-size-small);
}

@media (min-width: 500px) {
  .search_container {
    display: flex;
  }
}
